body{
   font-family: "Times New Roman", Times, serif;

}
.body-block{
  background: #F9F9F9;
}
  #navbarTop{
    display: flex;
    flex-direction: row;
    padding: 0.5em 0.5em 0.5em 0.5em;
    /* width: 120em;
    height: 6.25em; */
    background: #FFFFFF;
    box-shadow: rgb(71, 65, 65);
    margin: 0.01% 16% 0.01% 16%;
  }

  .nav-link {
      color: #BBBBBB;
  }

  .logo {
    width: 12.75em;
    max-width: 78%;
  }

  a {
     font-family: "Roboto Light", sans-serif;
  }
  a:hover {
    color: #FF8B00;
    text-decoration: none;
    }
  
 
h5 {
  font-family: "Roboto Light", sans-serif;
}

p {
  font-family: "Roboto Light", sans-serif;
}